fastapi
uvicorn
httpx
beautifulsoup4
feedparser
python-dotenv
readability-lxml
lxml
lxml_html_clean
sqlalchemy
psycopg2-binary
alembic
gTTS
google-generativeai
google-auth
razorpay
python-jose[cryptography]