@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #64748B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #1a202c; /* Darker slate for headings */
}